<pgcard TimeOut="3000" AdditionalClasses="bacSize card no-border no-margin widget-loader-circle todolist-widget pending-projects-widget" Maximize="false"
		Toggle="false" Close="false" [Loading]="loading" (onRefresh)="reload()">
	<ng-template #CardTitle>
		<span class="font-montserrat fs-11 all-caps">
			Statistics
			<i class="fa fa-chevron-right"></i>
		</span>
	</ng-template>
	<div class="">
		<h5 class="">Wallets, Referrals and Brokers
			<span class="semi-bold">Activity</span>
		</h5>
	</div>
	<pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
		<pg-tab>
			<ng-template #TabHeading>
				My Wallets
			</ng-template>
			<div class="p-t-15">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">GEI Product Wallet
								</div>
								<h4>{{currency}} {{details[5]?.getBalance[0]?.GEIProductWallet | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">Master Node Wallet
								</div>
								<h4>{{this.details[4]?.getSelf[0]?.masternode | number: '.2' }}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">MN Daily Reward
								</div>
								<h4>{{currency}} {{this.details[5]?.getBalance[0]?.ROI | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">BMCT wallet
								</div>
								<h4>{{this.details[4]?.getSelf[0]?.BMToken | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">GEI Empowerment Wallet
								</div>
								<h4>{{currency}} {{this.details[5]?.getBalance[0]?.geiBonus | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">Cash Wallet
								</div>
								<h4>{{currency}} {{this.details[5]?.getBalance[0]?.balance | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">House & Car Wallet
								</div>
								<h4>{{currency}} {{this.details[5]?.getBalance[0]?.GEICarWallet | number: '.2'}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-6">
						<div class="card card-transparent">
							<div class="card-header ">
								<div class="card-title">BPD Wallet
								</div>
								<h4>{{currency}} {{this.details[5]?.getBalance[0]?.BPD | number: '.2'}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</pg-tab>
		<pg-tab>
			<ng-template #TabHeading>
				My Referrals
			</ng-template>
			<div class="p-t-15">
				<div class="row">
					<div class="col-6 col-lg-4">
						<p class="hint-text all-caps font-montserrat small no-margin ">Level One</p>
						<p class="all-caps font-montserrat  no-margin text-success ">{{data2?.levelOne.length}}</p>
						<br>
						<p class="hint-text all-caps font-montserrat small no-margin ">Level Three</p>
						<p class="all-caps font-montserrat  no-margin text-warning ">{{data2?.levelThree.length}}</p>
					</div>
					<div class="col-6 col-lg-4">
						<p class="hint-text all-caps font-montserrat small no-margin ">Level Two</p>
						<p class="all-caps font-montserrat  no-margin text-success ">{{data2?.levelTwo.length}}</p>
						<br>
						<p class="hint-text all-caps font-montserrat small no-margin ">Level Four</p>
						<p class="all-caps font-montserrat  no-margin text-warning ">{{data2?.levelFour.length}}</p>
						<br>
					</div>
					<div class="col-6 col-lg-4">
						<p class="hint-text all-caps font-montserrat small no-margin ">Level Five</p>
						<p class="all-caps font-montserrat  no-margin text-success ">{{data2?.levelFive.length}}</p>
					</div>
				</div>
			</div>
			<div class="p-t-15">
				<div class="auto-overflow widget-11-2-table">
					<table class="table table-condensed table-hover">
						<tbody>
						<tr *ngFor="let x of data2?.levelOne">
							<td class="font-montserrat all-caps fs-12 w-50">{{x.fullname}}</td>
							<td class="text-right b-r b-dashed b-grey w-25">
								<span class="hint-text small">Level 1</span>
							</td>
							<td class="w-16">
								<span class="font-montserrat fs-18"><img alt="" src="{{verified(x.verified)}}"  width="18px"></span>
							</td>
						</tr>
						<tr *ngFor="let x of data2?.levelTwo">
							<td class="font-montserrat all-caps fs-12 w-50">{{x.fullname}}</td>
							<td class="text-right b-r b-dashed b-grey w-25">
								<span class="hint-text small">Level 2</span>
							</td>
							<td class="w-16">
								<span class="font-montserrat fs-18"><img alt="" [src]="verified(x.verified)" width="18px"></span>
							</td>
						</tr>
						<tr *ngFor="let x of data2?.levelThree">
							<td class="font-montserrat all-caps fs-12 w-50">{{x.fullname}}</td>
							<td class="text-right b-r b-dashed b-grey w-25">
								<span class="hint-text small">Level 3</span>
							</td>
							<td class="w-16">
								<span class="font-montserrat fs-18"><img alt="" [src]="verified(x.verified)" width="18px"></span>
							</td>
						</tr>
						<tr *ngFor="let x of data2?.levelFour">
							<td class="font-montserrat all-caps fs-12 w-50">{{x.fullname}}</td>
							<td class="text-right b-r b-dashed b-grey w-25">
								<span class="hint-text small">Level 4</span>
							</td>
							<td class="w-16">
								<span class="font-montserrat fs-18"><img alt="" [src]="verified(x.verified)" width="18px"></span>
							</td>
						</tr>
						<tr *ngFor="let x of data2?.levelFive">
							<td class="font-montserrat all-caps fs-12 w-50">{{x.fullname}}</td>
							<td class="text-right b-r b-dashed b-grey w-25">
								<span class="hint-text small">Level 5</span>
							</td>
							<td class="w-16">
								<span class="font-montserrat fs-18"><img alt="" [src]="verified(x.verified)" width="18px"></span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</pg-tab>
		<pg-tab>
			<ng-template #TabHeading>
				Brokers
			</ng-template>
			<div class="auto-overflow widget-11-2-table-B">
				<table class="table table-condensed table-hover">
					<tbody>
					<tr *ngFor="let x of data">
						<td class="font-montserrat all-caps fs-12 w-50">{{x.name}}</td>
						<td class="text-right b-r b-dashed b-grey w-25">
							<span class="hint-text small"></span>
						</td>
						<td class="w-25">
							<span class="font-montserrat fs-18 text-info"><a target="_blank" href="{{x.link}}">view broker</a></span>
						</td>
					</tr>
					<tr>
					</tbody>
				</table>
			</div>
		</pg-tab>
	</pg-tabset>
</pgcard>
