h4{
    font-size: 17px !important;
}
    .widget-11-2-table{
        height: 350px;
    }
    .widget-11-2-table-B{
        height: 355px;
    }

    .bacSize {
        height: 100%;
    }

    .w-16 {
        width: 16% !important;
    }

.pending-projects-widget{
    .nav-wrap{
        &:after{
            display: none;
        }
    }
    .nav-tabs > li > a{
        padding: 8px 7px
    }
    .tab-content-wrapper{
        padding-left:0;
        padding-right:0;
    }
}

