<div class="jumbotron" style="background-color: white">
    <pg-container extraHorizontalClass="p-l-0 p-r-0">
        <div class="inner" pg-parallax>
            <!-- START BREADCRUMB -->
            <pg-breadcrumb>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DASHBOARD</a></li>
                    <li class="breadcrumb-item active">STOCKISTS</li>
                </ol>
            </pg-breadcrumb>
        </div>
    </pg-container>
</div>
<!-- END JUMBOTRON -->

<div class="col-lg-12">
    <div class="card card-borderless">
        <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
            <pg-tab>
                <ng-template #TabHeading>
                    Filter through Stockist
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default form-group-default-select2">
                                            <label>Filter by State</label>
                                            <pg-select style="width: 100%;" id="setState" name="setState" (ngModelChange)="onGetLg(setState2.value)" [(ngModel)]="setState" [PlaceHolder]="'All States'" required #setState2="ngModel" AllowClear ShowSearch>
                                                <pg-option
                                                        *ngFor="let option of states"
                                                        [Label]="option.name"
                                                        [Value]="option.id">
                                                </pg-option>
                                            </pg-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default form-group-default-select2">
                                            <label>Filter by LG</label>
                                            <pg-select style="width: 100%;" id="setLg" name="setLg" (ngModelChange)="onGetStokist(setLg2.value)"  [(ngModel)]="setLg" [PlaceHolder]="'All LG'" required #setLg2="ngModel" AllowClear ShowSearch>
                                                <pg-option
                                                        *ngFor="let option of lg"
                                                        [Label]="option.name"
                                                        [Value]="option.id">
                                                </pg-option>
                                            </pg-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 1)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            #datatableComponent
                                            class='table table-hover'
                                            [rows]="ref1"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [scrollbarH]="true">

                                        <ngx-datatable-column name="area" prop="area" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="name" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="address" prop="address" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
        </pg-tabset>
    </div>
</div>


