<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</ng-template>
<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
  <!-- PAGE SIDEBAR -->
  <pg-sidebar>
      <ng-template #sideBarHeader>
          <img src="assets/img/logo - combined.png" pgRetina src2x="assets/img/logo - combined.png" alt="logo" class="brand" width="200" height="40">
      </ng-template>
      <ng-template #menuItems>
          <pg-menu-items [Items]="menuLinks">
          </pg-menu-items>
      </ng-template>
  </pg-sidebar>
  <!-- PAGE CONTAINER -->
  <page-container>
    <pg-header [boxed]="_boxed">
      <!-- START MOBILE SIDEBAR TOGGLE -->
      <a href="javascript:void(0);" class="btn-link toggle-sidebar d-lg-none pg pg-menu" (click)="toggleMobileSidebar()"></a>
      <!-- END MOBILE SIDEBAR TOGGLE -->
      <div class="d-flex align-items-center" [class.no-brand]="_layoutOption === 'email'">
          <!-- START EMAIL MOBILE TOGGLE -->
          <a href="javascript:void(0);" class="toggle-secondary-sidebar" (click)="toggleSecondarySideBar()" *ngIf="_layoutOption === 'email'">Notifications <span class="text-info"></span> <span class="caret"></span></a>
          <!-- END EMAIL MOBILE TOGGLE -->
          <div class="brand" [class.d-none]="_layoutOption === 'email'" [class.d-xl-block]="_layoutOption === 'email'" [class.d-lg-block]="_layoutOption === 'email'">
            <img src="assets/img/logo - combined.png" alt="logo" pgRetina src1x="assets/img/logo - combined.png" src2x="assets/img/logo - combined.png" width="150" height="30">
          </div>
<!--          <a href="javascript:void(0)" class="btn btn-link text-primary m-l-20 d-none d-lg-block d-xl-block">Add New Item</a>-->
<!--          <a href="javascript:void(0)" class="search-link d-none d-lg-block d-xl-block" (click)="openSearch($event)"><i class="pg pg-search"></i>Type anywhere to <span class="bold">search</span></a>-->
      </div>
      <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
          <span class="semi-bold">{{user.fullname}}</span>
        </div>
        <div class="dropdown pull-right d-lg-block d-none" dropdown>
          <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
            <span class="thumbnail-wrapper d32 circular inline">
            <img src="{{this.picUrl + user.profile}}" alt="" pgRetina src1x="{{this.picUrl + user.profile}}" src2x="{{this.picUrl + user.profile}}" width="32" height="32">
            </span>
          </button>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
            <a href="javascript:void(0)" class="dropdown-item" routerLink="/app/profile"><i class="fs-13 pg pg-settings_small"></i> Profile</a>
            <a href="javascript:void(0)" class="dropdown-item" routerLink="/app/logs"><i class="fs-13 pg pg-outdent"></i> History</a>
            <a href="javascript:void(0)" class="dropdown-item" routerLink="/app/accounts"><i class="fs-13 pg pg-signals"></i> Wallets</a>
            <a href="javascript:void(0)" class="clearfix bg-master-lighter dropdown-item" (click)="logout()">
            <span class="pull-left">Logout</span>
            <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
            </a>
          </div>
        </div>
        <!-- END User Info-->
      </div>
    </pg-header>
    <div class="page-content-wrapper {{_pageContainerClass}}">
      <!-- START PAGE CONTENT -->
      <div class="content {{_contentClass}}">
        <router-outlet></router-outlet>
      </div>
      <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <ng-template [ngIf]="_footer">
          <div class=" container-fluid container-fixed-lg footer">
            <div class="copyright sm-text-center">
              <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright &copy; 2020</span> <span class="font-montserrat"> QTRADEAI & GEI</span>. <span class="hint-text">All rights
                reserved.</span> <span class="sm-block"><a class="m-l-10 m-r-10" href="https://gei.qtradeai.com/terms/Terms%20of%20Use%20-%20GEI%20(Beep).pdf">Terms of use</a> <span class="muted">|</span> <a class=
                "m-l-10" href="https://gei.qtradeai.com/terms/Terms%20of%20Use%20-%20GEI%20(Beep).pdf">Privacy Policy</a></span>
              </p>

              <div class="clearfix">
              </div>
            </div>
          </div>
          <!-- END COPYRIGHT -->
        </ng-template>
    </div>
  </page-container>

  <app-dialog></app-dialog>

  <!-- QUICKVIEW -->
  <app-quickview></app-quickview>
</ng-template>
