<div class="jumbotron" style="background-color: white">
    <pg-container extraHorizontalClass="p-l-0 p-r-0">
        <div class="inner" pg-parallax>
            <!-- START BREADCRUMB -->
            <pg-breadcrumb>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DASHBOARD</a></li>
                    <li class="breadcrumb-item active">LOGS</li>
                </ol>
            </pg-breadcrumb>
            <div class="row">
                <div class="col-xl-7 col-lg-6 ">
                    <!-- START card -->
                    <div class="full-height">
                        <div class="card-body text-center">
                            <img class="image-responsive-height demo-mw-600" src="assets/img/tab.png" alt="">
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                <div class="col-xl-5 col-lg-6 ">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <div class="card-title">Transaction Activities
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Logs / Transaction History</h3>
                            <p>Your log of all transactions performed on your account, this gives a clear picture of what's going on in your account. Want to View a type of transaction? This can be done by clicking on the preferred type of tab. </p>
                            <br>
                            <div class="row">
                                <div class="col-6 ">
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Withdrawals</p>
                                    <p class="all-caps font-montserrat  no-margin text-success ">{{this.details[1]?.withdrawal['1']}}</p>
                                    <br>
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Transfers</p>
                                    <p class="all-caps font-montserrat  no-margin text-warning ">{{this.details[2]?.transfer[1]}}</p>
                                </div>
                                <div class="col-6 ">
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Subscriptions</p>
                                    <p class="all-caps font-montserrat  no-margin text-success ">{{this.details[4]?.getSelf[0]?.totalSubscription}}</p>
                                    <br>
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Transactions</p>
                                    <p class="all-caps font-montserrat  no-margin text-warning ">{{this.details[0]?.orders[1]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
            </div>
        </div>
    </pg-container>
</div>
<!-- END JUMBOTRON -->

<div class="col-lg-12">
    <div class="card card-borderless">
        <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
            <pg-tab>
                <ng-template #TabHeading>
                    Orders
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <div class="card-title">Order History
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <ngx-datatable
                                        class='table table-hover'
                                        [rows]="orderRow"
                                        [columns]="orderColumns"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [selected]="selected"
                                        [selectionType]="'checkbox'"
                                        [scrollbarH]="true"
                                        (activate)="onActivate($event)"
                                        (select)='onSelect($event)'>
                                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
                                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                            <button class="btn btn-link"><i class="pg pg-trash"></i>
                                            </button>
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                            <div class="checkbox d-flex align-items-center">
                                                <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                                                <label for="checkbox_1{{rowIndex}}"></label>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="id" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="package" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                                        <ng-template #statusColumn ngx-datatable-cell-template let-value="value">
                                            <span [ngClass]="setClass(value, 'c')">{{setClass(value, 't')}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="amount" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="cost" cellClass="d-flex align-items-center">
                                        <ng-template #costColumn ngx-datatable-cell-template let-value="value" let-row="row">
                                            {{currency}} {{value | number:  0}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="date" cellClass="d-flex align-items-center">
                                        <ng-template  #dateColumn ngx-datatable-cell-template let-value="value">
                                            {{value * 1000 | date: 'dd-MM-yyyy'}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="action" cellClass="d-flex align-items-center">
                                        <ng-template let-row="row" let-value="value" #tableAction ngx-datatable-cell-template>
                                            <a (click)="showDialog(row, 'delOrder')"  class="btn btn-tag">cancel</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Withdrawals
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <div class="card-title">Withdrawals History
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <ngx-datatable
                                        class='table table-hover'
                                        [rows]="withdrawRow"
                                        [columns]="withdrawColumns"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [selected]="selected"
                                        [selectionType]="'checkbox'"
                                        [scrollbarH]="true"
                                        (activate)="onActivate($event)"
                                        (select)='onSelect($event)'>
                                    <ngx-datatable-column name="id" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="Acc Name" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="Acc Number" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                    <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                                        <ng-template #statusColumnW ngx-datatable-cell-template let-value="value">
                                            <span [ngClass]="setClassw(value, 'c')">{{setClassw(value, 't')}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="charge" cellClass="d-flex align-items-center">
<!--                                        <ng-template #charge ngx-datatable-cell-template let-value="value" let-row="row">-->
<!--                                            {{currency}} {{value | number:  0}}-->
<!--                                        </ng-template>-->
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="amount" cellClass="d-flex align-items-center">
                                        <ng-template #costColumnW2 ngx-datatable-cell-template let-value="value" let-row="row">
                                            {{currency}} {{value | number:  0}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Trans date" cellClass="d-flex align-items-center">
                                        <ng-template  #dateColumnW1 ngx-datatable-cell-template let-value="value">
                                            {{value * 1000 | date: 'dd-MM-yyyy'}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Comp date" cellClass="d-flex align-items-center">
                                        <ng-template  #dateColumnW2 ngx-datatable-cell-template let-value="value">
                                            {{value * 1000 | date: 'dd-MM-yyyy'}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="action" cellClass="d-flex align-items-center">
                                        <ng-template let-row="row" let-value="value" #withdrawAction ngx-datatable-cell-template>
                                            <a href="javascript:;"  class="btn btn-tag">cancel</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Transfers
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Transfer History
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            class='table table-hover'
                                            [rows]="transferRow"
                                            [columns]="transferColumns"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [selected]="selected"
                                            [selectionType]="'checkbox'"
                                            [scrollbarH]="true"
                                            (activate)="onActivate($event)"
                                            (select)='onSelect($event)'>
                                        <ngx-datatable-column name="id" prop="transID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="sender" prop="fromAccount" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="beneficiary" prop="toAccount" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                                            <ng-template #statusColumnT ngx-datatable-cell-template let-value="value">
                                                <span [ngClass]="setClasst(value, 'c')">{{setClasst(value, 't')}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="amount" cellClass="d-flex align-items-center">
                                            <ng-template #costColumnT ngx-datatable-cell-template let-value="value" let-row="row">
                                                {{currency}} {{value | number:  0}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="type" cellClass="d-flex align-items-center">
                                            <ng-template #typeColumnT ngx-datatable-cell-template let-value="value">
                                                <span [ngClass]="setClassty(value, 'c')">{{setClassty(value, 't')}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="date" cellClass="d-flex align-items-center">
                                            <ng-template  #dateColumnT ngx-datatable-cell-template let-value="value">
                                                {{value * 1000 | date: 'dd-MM-yyyy'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Payment
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Payment History
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            class='table table-hover'
                                            [rows]="paymentRow"
                                            [columns]="paymentColumns"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [selected]="selected"
                                            [selectionType]="'checkbox'"
                                            [scrollbarH]="true"
                                            (activate)="onActivate($event)"
                                            (select)='onSelect($event)'>
                                        <ngx-datatable-column name="id" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="method" cellClass="d-flex align-items-center">
                                            <ng-template #methodColumnP ngx-datatable-cell-template let-value="value">
                                                <span>{{setClasspm(value, 't')}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                                            <ng-template #statusColumnP ngx-datatable-cell-template let-value="value">
                                                <span [ngClass]="setClassps(value, 'c')">{{setClassps(value, 't')}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="amount" cellClass="d-flex align-items-center">
                                            <ng-template #costColumnP ngx-datatable-cell-template let-value="value" let-row="row">
                                                {{currency}} {{value | number:  0}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="payment ID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="date" cellClass="d-flex align-items-center">
                                            <ng-template  #dateColumnP ngx-datatable-cell-template let-value="value">
                                                {{value * 1000 | date: 'dd-MM-yyyy'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="actions" cellClass="d-flex align-items-center">
                                            <ng-template let-row="row" let-value="value" #paymentAction ngx-datatable-cell-template>
                                                <div *ngIf="row.status !== '1'">
                                                    <input class="ng-hide" hidden id="input-file-id" type="file" accept="image/*" #pop="ngModel" ngModel name="pop"  (change)="changeListener($event, row)" />
                                                    <a (click)="showDialog(row, 'delPayment')"  class="btn btn-tag">cancel</a>
                                                    <a href="javascript:;" (click)="upload()"  class="btn btn-tag">upload proof</a>
                                                </div>
                                                <div *ngIf="row.status === '1'">
                                                    Done
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
        </pg-tabset>
    </div>
</div>


