<pgcard TimeOut="3000" AdditionalClasses="card no-border widget-loader-bar m-b-10"
 Maximize="false" Toggle="false" Close="false" Controls="false"  ProgressType="bar"
 BodyClass="no-padding" HeaderClass="top-left top-right">
		<ng-template #CardTitle>
				<span class="font-montserrat fs-11 all-caps">
					Rewards
					<i class="fa fa-chevron-right"></i>
				</span>
			</ng-template>
	<div class="container-xs-height full-height">
				<div class="row-xs-height">
					<div class="col-xs-height col-top">
						<div class="p-l-20 p-t-50 p-b-40 p-r-20"> 
							<h5 class="small hint-text no-margin text-success m-b-3" *ngFor="let x of rewards; let i = index" style="cursor: pointer">{{i+1}}. {{x.name}} <img alt="" src="{{cSat1(x.amount)}}"  width="18px"></h5>
						</div>
					</div>
				</div>
				<div class="row-xs-height">
					<div class="col-xs-height col-bottom">
						<div class="progress progress-small m-b-0">
							<!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
							<div class="progress-bar progress-bar-primary" [ngStyle]="{width: _width}"></div>
							<!-- END BOOTSTRAP PROGRESS -->
						</div>
					</div>
				</div>
			</div>
</pgcard>
