.black {
  color: black !important;
}

.no-result {
  bottom: 0;
  left: 0;
  margin-top: -34px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

.pricing-table td[class*=bg-],.pricing-table th[class*=bg-]{
  border-top-color:transparent;
  border-bottom-color:rgba(0,0,0,.02);
  border-right-color:transparent;
  border-left-color:transparent;
  border-bottom-width:1px;
  border-bottom-style:solid
}
.pricing-table>thead>tr>th{
  border-bottom-width:1px
}
.pricing-table tr td:nth-child(2),.pricing-table tr th:nth-child(2){
  border-left:1px solid rgba(0,0,0,.1)
}
@media only screen and (max-width:768px){
  .pricing-table,.pricing-table thead,.pricing-table tbody,.pricing-table th,.pricing-table td,.pricing-table tr{
    display:block
  }
  .pricing-table{
  }
  .pricing-table thead tr{
    position:absolute;
    top:-9999px;
    left:-9999px
  }
  .pricing-table tr{
    margin-top:25px
  }
  .pricing-table tr td:nth-child(2),.pricing-table tr th:nth-child(2){
    border-left:none
  }
  .pricing-table td{
    border:none;
    border-bottom:1px solid #eee;
    position:relative;
    padding-left:50%;
    white-space:normal;
    text-align:left
  }
  .pricing-table td:before{
    position:absolute;
    top:50%;
    margin-top:-11px;
    left:17px;
    width:45%;
    padding-right:10px;
    white-space:nowrap;
    text-align:left;
    font-weight:700
  }
  .pricing-table td:before{
    content:attr(data-title)
  }
}
.pricing-layout-overflow-top{
  position:relative;
  margin-top:-232px
}
.visible-xlg{
  display:none
}
.hidden-xlg{
  display:block
}
@media(min-width:1824px){
  .visible-xlg{
    display:block!important
  }
  .hidden-xlg{
    display:none!important
  }
  .visible-xlg{
    display:block!important
  }
  .hidden-xlg{
    display:none!important
  }
}

@media(min-width:768px){
  .row-same-height{
    overflow:hidden
  }
  .row-same-height>[class*=col-sm]{
    margin-bottom:-99999px;
    padding-bottom:99999px
  }
}
@media(max-width:767px){
  .container{
    padding-left:20px;
    padding-right:20px
  }
  .menu-content{
    width:270px;
    overflow-y:auto
  }
  .logo{
    display:inline-block
  }
  .header.bg-header{
    height:70px
  }
  .header.bg-header .header-inner{
    line-height:70px
  }
  .header.bg-header .menu-toggler{
    margin-top:27.5px
  }
  .header.md-header{
    height:88px
  }
  .header.md-header .header-inner{
    line-height:88px
  }
  .header.md-header .menu-toggler{
    margin-top:36.5px
  }
  .header.sm-header{
    height:44px
  }
  .header.sm-header .header-inner{
    line-height:44px
  }
  .header.sm-header .menu-toggler{
    margin-top:14.5px
  }
  .swiper-slide.fit h1{
    font-size:6vh;
    line-height:7.5vh
  }
  .swiper-slide.fit h2{
    font-size:3vh;
    line-height:5vh
  }
  .swiper-slide.fit h3{
    font-size:2vh;
    line-height:4vh
  }
  .swiper-slide.fit h4{
    font-size:3vh;
    line-height:4.5vh
  }
  .swiper-slide.fit h5{
    font-size:1.5vh;
    line-height:1.8vh
  }
}
@media(max-width:480px){
  .xs-p-t-0{
    padding-top:0!important
  }
  .xs-p-r-0{
    padding-right:0!important
  }
  .xs-p-l-0{
    padding-left:0!important
  }
  .xs-p-b-0{
    padding-bottom:0!important
  }
  .xs-padding-0{
    padding:0!important
  }
  .xs-p-t-5{
    padding-top:5px!important
  }
  .xs-p-r-5{
    padding-right:5px!important
  }
  .xs-p-l-5{
    padding-left:5px!important
  }
  .xs-p-b-5{
    padding-bottom:5px!important
  }
  .xs-padding-5{
    padding:5px!important
  }
  .xs-p-t-10{
    padding-top:10px!important
  }
  .xs-p-r-10{
    padding-right:10px!important
  }
  .xs-p-l-10{
    padding-left:10px!important
  }
  .xs-p-b-10{
    padding-bottom:10px!important
  }
  .xs-padding-10{
    padding:10px!important
  }
  .xs-p-t-15{
    padding-top:15px!important
  }
  .xs-p-r-15{
    padding-right:15px!important
  }
  .xs-p-l-15{
    padding-left:15px!important
  }
  .xs-p-b-15{
    padding-bottom:15px!important
  }
  .xs-padding-15{
    padding:15px!important
  }
  .xs-p-t-20{
    padding-top:20px!important
  }
  .xs-p-r-20{
    padding-right:20px!important
  }
  .xs-p-l-20{
    padding-left:20px!important
  }
  .xs-p-b-20{
    padding-bottom:20px!important
  }
  .xs-padding-20{
    padding:20px!important
  }
  .xs-m-t-5{
    margin-top:5px!important
  }
  .xs-m-r-5{
    margin-right:5px!important
  }
  .xs-m-l-5{
    margin-left:5px!important
  }
  .xs-m-b-5{
    margin-bottom:5px!important
  }
  .xs-m-t-10{
    margin-top:10px!important
  }
  .xs-m-r-10{
    margin-right:10px!important
  }
  .xs-m-l-10{
    margin-left:10px!important
  }
  .xs-m-b-10{
    margin-bottom:10px!important
  }
  .xs-m-t-15{
    margin-top:15px!important
  }
  .xs-m-r-15{
    margin-right:15px!important
  }
  .xs-m-l-15{
    margin-left:15px!important
  }
  .xs-m-b-15{
    margin-bottom:15px!important
  }
  .xs-m-t-20{
    margin-top:20px!important
  }
  .xs-m-r-20{
    margin-right:20px!important
  }
  .xs-m-l-20{
    margin-left:20px!important
  }
  .xs-m-b-20{
    margin-bottom:20px!important
  }
  .xs-m-t-25{
    margin-top:25px!important
  }
  .xs-m-r-25{
    margin-right:25px!important
  }
  .xs-m-l-25{
    margin-left:25px!important
  }
  .xs-m-b-25{
    margin-bottom:25px!important
  }
  .xs-m-t-30{
    margin-top:30px!important
  }
  .xs-m-r-30{
    margin-right:30px!important
  }
  .xs-m-l-30{
    margin-left:30px!important
  }
  .xs-m-b-30{
    margin-bottom:30px!important
  }
  .xs-m-t-35{
    margin-top:35px!important
  }
  .xs-m-r-35{
    margin-right:35px!important
  }
  .xs-m-l-35{
    margin-left:35px!important
  }
  .xs-m-b-35{
    margin-bottom:35px!important
  }
  .xs-m-t-40{
    margin-top:40px!important
  }
  .xs-m-r-40{
    margin-right:40px!important
  }
  .xs-m-l-40{
    margin-left:40px!important
  }
  .xs-m-b-40{
    margin-bottom:40px!important
  }
  .xs-no-margin{
    margin:0!important
  }
  .xs-no-padding{
    padding:0!important
  }
  .xs-text-right{
    text-align:right!important
  }
  .xs-text-left{
    text-align:left!important
  }
  .xs-text-center{
    text-align:center!important
  }
  .xs-pull-right{
    float:right!important
  }
  .xs-pull-left{
    float:left!important
  }
  .xs-pull-reset{
    float:none!important
  }
  .xs-image-responsive-height{
    width:100%;
    height:auto
  }
  .xs-image-responsive-width{
    height:100%;
    width:auto
  }
  .xs-block{
    display:block
  }
  .xs-inline{
    display:inline-block
  }
  .swiper-slide.fit .block-title{
    font-size:2vh
  }
  .xs-full-height{
    height:100%;
    width:auto
  }
  .xs-full-width{
    width:100%;
    height:auto!important
  }
  .xs-min-height{
    min-height:100%
  }
  .sm-no-border{
    border-width:0
  }
  .xs-no-border{
    border-width:0
  }
  .xs-b-r,.xs-b-l,.xs-b-t,.xs-b-b{
    border-width:0;
    border-style:solid
  }
  .xs-b-r{
    border-right-width:1px
  }
  .xs-b-l{
    border-left-width:1px
  }
  .xs-b-t{
    border-top-width:1px
  }
  .xs-b-b{
    border-bottom-width:1px
  }
  .xs-reset-position{
    position:initial
  }
  .xs-screen-center{
    position:absolute;
    left:-50%
  }
  .xs-bg-size-cover{
    background-size:cover
  }
  .xs-relative{
    position:relative!important
  }
  .error-page{
    padding:15px
  }
  .error-page .error-container{
    margin-top:30px;
    width:auto
  }
  .error-page .pull-bottom{
    position:relative
  }
  .error-container-innner{
    width:auto
  }
}

.scroll-x-hidden{
  overflow-x:hidden!important
}
.p-t-5{
  padding-top:5px!important
}
.p-r-5{
  padding-right:5px!important
}
.p-l-5{
  padding-left:5px!important
}
.p-b-5{
  padding-bottom:5px!important
}
.padding-5{
  padding:5px!important
}
.p-t-10{
  padding-top:10px!important
}
.p-r-10{
  padding-right:10px!important
}
.p-l-10{
  padding-left:10px!important
}
.p-b-10{
  padding-bottom:10px!important
}
.padding-10{
  padding:10px!important
}
.p-t-15{
  padding-top:15px!important
}
.p-r-15{
  padding-right:15px!important
}
.p-l-15{
  padding-left:15px!important
}
.p-b-15{
  padding-bottom:15px!important
}
.padding-15{
  padding:15px!important
}
.p-t-20{
  padding-top:20px!important
}
.p-r-20{
  padding-right:20px!important
}
.p-l-20{
  padding-left:20px!important
}
.p-b-20{
  padding-bottom:20px!important
}
.padding-20{
  padding:20px!important
}
.p-t-25{
  padding-top:25px!important
}
.p-r-25{
  padding-right:25px!important
}
.p-l-25{
  padding-left:25px!important
}
.p-b-25{
  padding-bottom:25px!important
}
.padding-25{
  padding:25px!important
}
.p-t-30{
  padding-top:30px!important
}
.p-r-30{
  padding-right:30px!important
}
.p-l-30{
  padding-left:30px!important
}
.p-b-30{
  padding-bottom:30px!important
}
.padding-30{
  padding:30px!important
}
.p-t-35{
  padding-top:35px!important
}
.p-r-35{
  padding-right:35px!important
}
.p-l-35{
  padding-left:35px!important
}
.p-b-35{
  padding-bottom:35px!important
}
.padding-35{
  padding:35px!important
}
.p-t-40{
  padding-top:40px!important
}
.p-r-40{
  padding-right:40px!important
}
.p-l-40{
  padding-left:40px!important
}
.p-b-40{
  padding-bottom:40px!important
}
.padding-40{
  padding:40px!important
}
.p-t-45{
  padding-top:45px!important
}
.p-r-45{
  padding-right:45px!important
}
.p-l-45{
  padding-left:45px!important
}
.p-b-45{
  padding-bottom:45px!important
}
.padding-45{
  padding:45px!important
}
.p-t-50{
  padding-top:50px!important
}
.p-r-50{
  padding-right:50px!important
}
.p-l-50{
  padding-left:50px!important
}
.p-b-50{
  padding-bottom:50px!important
}
.padding-50{
  padding:50px!important
}
.p-t-55{
  padding-top:55px!important
}
.p-r-55{
  padding-right:55px!important
}
.p-l-55{
  padding-left:55px!important
}
.p-b-55{
  padding-bottom:55px!important
}
.padding-55{
  padding:55px!important
}
.p-t-60{
  padding-top:60px!important
}
.p-r-60{
  padding-right:60px!important
}
.p-l-60{
  padding-left:60px!important
}
.p-b-60{
  padding-bottom:60px!important
}
.padding-60{
  padding:60px!important
}
.p-t-65{
  padding-top:65px!important
}
.p-r-65{
  padding-right:65px!important
}
.p-l-65{
  padding-left:65px!important
}
.p-b-65{
  padding-bottom:65px!important
}
.padding-65{
  padding:65px!important
}
.p-t-70{
  padding-top:70px!important
}
.p-r-70{
  padding-right:70px!important
}
.p-l-70{
  padding-left:70px!important
}
.p-b-70{
  padding-bottom:70px!important
}
.padding-70{
  padding:70px!important
}
.p-t-75{
  padding-top:75px!important
}
.p-r-75{
  padding-right:75px!important
}
.p-l-75{
  padding-left:75px!important
}
.p-b-75{
  padding-bottom:75px!important
}
.padding-75{
  padding:75px!important
}
.p-t-80{
  padding-top:80px!important
}
.p-r-80{
  padding-right:80px!important
}
.p-l-80{
  padding-left:80px!important
}
.p-b-80{
  padding-bottom:80px!important
}
.padding-80{
  padding:80px!important
}
.p-t-85{
  padding-top:85px!important
}
.p-r-85{
  padding-right:85px!important
}
.p-l-85{
  padding-left:85px!important
}
.p-b-85{
  padding-bottom:85px!important
}
.padding-85{
  padding:85px!important
}
.p-t-90{
  padding-top:90px!important
}
.p-r-90{
  padding-right:90px!important
}
.p-l-90{
  padding-left:90px!important
}
.p-b-90{
  padding-bottom:90px!important
}
.padding-90{
  padding:90px!important
}
.p-t-95{
  padding-top:95px!important
}
.p-r-95{
  padding-right:95px!important
}
.p-l-95{
  padding-left:95px!important
}
.p-b-95{
  padding-bottom:95px!important
}
.padding-95{
  padding:95px!important
}
.p-t-100{
  padding-top:100px!important
}
.p-r-100{
  padding-right:100px!important
}
.p-l-100{
  padding-left:100px!important
}
.p-b-100{
  padding-bottom:100px!important
}
.padding-100{
  padding:100px!important
}
.m-t-0{
  margin-top:0
}
.m-r-0{
  margin-right:0
}
.m-l-0{
  margin-left:0
}
.m-b-0{
  margin-bottom:0
}
.m-t-5{
  margin-top:5px
}
.m-r-5{
  margin-right:5px
}
.m-l-5{
  margin-left:5px
}
.m-b-5{
  margin-bottom:5px
}
.m-t-10{
  margin-top:10px
}
.m-r-10{
  margin-right:10px
}
.m-l-10{
  margin-left:10px
}
.m-b-10{
  margin-bottom:10px
}
.m-t-15{
  margin-top:15px
}
.m-r-15{
  margin-right:15px
}
.m-l-15{
  margin-left:15px
}
.m-b-15{
  margin-bottom:15px
}
.m-t-20{
  margin-top:20px
}
.m-r-20{
  margin-right:20px
}
.m-l-20{
  margin-left:20px
}
.m-b-20{
  margin-bottom:20px
}
.m-t-25{
  margin-top:25px
}
.m-r-25{
  margin-right:25px
}
.m-l-25{
  margin-left:25px
}
.m-b-25{
  margin-bottom:25px
}
.m-t-30{
  margin-top:30px
}
.m-r-30{
  margin-right:30px
}
.m-l-30{
  margin-left:30px
}
.m-b-30{
  margin-bottom:30px
}
.m-t-35{
  margin-top:35px
}
.m-r-35{
  margin-right:35px
}
.m-l-35{
  margin-left:35px
}
.m-b-35{
  margin-bottom:35px
}
.m-t-40{
  margin-top:40px
}
.m-r-40{
  margin-right:40px
}
.m-l-40{
  margin-left:40px
}
.m-b-40{
  margin-bottom:40px
}
.m-t-45{
  margin-top:45px
}
.m-r-45{
  margin-right:45px
}
.m-l-45{
  margin-left:45px
}
.m-b-45{
  margin-bottom:45px
}
.m-t-50{
  margin-top:50px
}
.m-r-50{
  margin-right:50px
}
.m-l-50{
  margin-left:50px
}
.m-b-50{
  margin-bottom:50px
}
.m-t-55{
  margin-top:55px
}
.m-r-55{
  margin-right:55px
}
.m-l-55{
  margin-left:55px
}
.m-b-55{
  margin-bottom:55px
}
.m-t-60{
  margin-top:60px
}
.m-r-60{
  margin-right:60px
}
.m-l-60{
  margin-left:60px
}
.m-b-60{
  margin-bottom:60px
}
.m-t-65{
  margin-top:65px
}
.m-r-65{
  margin-right:65px
}
.m-l-65{
  margin-left:65px
}
.m-b-65{
  margin-bottom:65px
}
.m-t-70{
  margin-top:70px
}
.m-r-70{
  margin-right:70px
}
.m-l-70{
  margin-left:70px
}
.m-b-70{
  margin-bottom:70px
}
.m-t-75{
  margin-top:75px
}
.m-r-75{
  margin-right:75px
}
.m-l-75{
  margin-left:75px
}
.m-b-75{
  margin-bottom:75px
}
.m-t-80{
  margin-top:80px
}
.m-r-80{
  margin-right:80px
}
.m-l-80{
  margin-left:80px
}
.m-b-80{
  margin-bottom:80px
}
.m-t-85{
  margin-top:85px
}
.m-r-85{
  margin-right:85px
}
.m-l-85{
  margin-left:85px
}
.m-b-85{
  margin-bottom:85px
}
.m-t-90{
  margin-top:90px
}
.m-r-90{
  margin-right:90px
}
.m-l-90{
  margin-left:90px
}
.m-b-90{
  margin-bottom:90px
}
.m-t-95{
  margin-top:95px
}
.m-r-95{
  margin-right:95px
}
.m-l-95{
  margin-left:95px
}
.m-b-95{
  margin-bottom:95px
}
.m-t-100{
  margin-top:100px
}
.m-r-100{
  margin-right:100px
}
.m-l-100{
  margin-left:100px
}
.m-b-100{
  margin-bottom:100px
}
.full-height{
  height:100%!important
}
.full-width{
  width:100%
}
.full-vh{
  height:100vh
}
.padd {
  width: 80%;
  margin: auto;
  opacity: 1;
  font-size: 14px;
}
