
<!-- END JUMBOTRON -->
        <section class="p-t-40 p-b-75">
            <ng-template #noResultBlock>
                <div class="no-result" >
                    <h1>No Available Package</h1>
                </div>
            </ng-template>
            <div class="container p-t-20" *ngIf="noPackage; else noResultBlock">
                <h1 class="text-center m-b-5">Plans built for your every need</h1>
                <h3 class="text-center m-t-5">Support/Subscription Packages.</h3>
                <div class="p-l-30 p-r-30 m-t-50">
                    <div class="row">
                        <div class="col-sm-4 p-l-5 p-r-5" *ngFor="let data of packages">
                            <div class="pricing-heading m-t-45">
                                <div class="bg-master-light p-t-60 p-b-60">
                                    <h1 class="text-center m-b-25 fs-22 font-montserrat">{{data.currencyName}}{{data.calculatedPrice | number: '2.' }}</h1>
                                    <p class="hint-text text-center padd">{{data.details}}</p>
                                </div>
                                <div class=" p-t-20 p-b-20" [ngStyle]="{'background': data.color}">
                                    <h5 class="block-title text-center text-white no-margin">Per Subscription</h5>
                                </div>
                            </div>
                            <div class="pricing-details bg-white p-t-30 p-b-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                                <ul class="no-style">
                                    <li class="text-black fs-13 normal m-b-25">
                                        <span class="bold">Level 1</span><span class="bold 13"> Cash Bonus </span>
                                        <span class="fs-13 text-black "> {{data.currencyName}} {{data.lv1commission  | number: '2.'}}</span><br>
                                        <span class="bold">Level 1</span><span class="bold fs-13"> BMCT </span>
                                        <span class="fs-13 text-black ">{{data.lv1bmt}}</span>
                                    </li>
                                    <li class="text-black fs-14 normal m-b-25">
                                        <span class="bold">Level 2</span><span
                                            class="bold fs-13"> Cash Bonus </span> <span
                                            class="fs-12 text-black "> {{data.currencyName}} {{data.lv2commission  | number: '2.'}}</span><br>
                                        <span class="bold">Level 2</span><span class="bold fs-13"> BMCT </span>
                                        <span class="fs-12 text-black ">{{data.lv2bmt}}</span>
                                    </li>
                                    <li class="text-black fs-14 normal m-b-25">
                                        <span class="bold">Level 3</span><span
                                            class="bold fs-13"> Cash Bonus </span> <span
                                            class="fs-12 text-black "> {{data.currencyName}} {{data.lv3commission  | number: '2.'}}</span><br>
                                        <span class="bold">Level 3</span><span class="bold fs-13"> BMCT </span>
                                        <span class="fs-12 text-black ">{{data.lv3bmt}}</span>
                                    </li>
                                    <li class="text-black fs-14 normal m-b-25">
                                        <span class="bold">Level 4</span><span
                                            class="bold fs-13"> Cash Bonus </span> <span
                                            class="fs-12 text-black "> {{data.currencyName}} {{data.lv4commission  | number: '2.'}}</span><br>
                                        <span class="bold">Level 4</span><span class="bold fs-13"> BMCT </span>
                                        <span class="fs-12 text-black ">{{data.lv4bmt}}</span>
                                    </li>
                                    <li class="text-black fs-14 normal m-b-25">
                                        <span class="bold">Level 5</span><span
                                            class="bold fs-13"> Cash Bonus </span> <span
                                            class="fs-12 text-black"> {{data.currencyName}} {{data.lv5commission  | number: '2.'}}</span><br>
                                        <span class="bold">Level 5</span><span class="bold fs-13"> BMCT </span>
                                        <span class="fs-12 text-black">{{data.lv5bmt}}</span>
                                    </li>
                                    <li class="text-black fs-14 normal m-b-25"><span
                                            class="bold">Remark</span>  {{data.profit}}</li>
                                    <li class="text-black fs-14 normal m-b-25"><span
                                            class="bold">Duration</span>  {{data.duration}}</li>
                                    <li class="text-black fs-14 normal m-b-25"><span
                                            class="bold">Description</span>  {{data.details}}</li>
                                    <li class="text-black fs-14 normal m-b-25"><span class="bold">Subscriber</span>
                                        <br>{{data.reward}}BMCT
                                    </li>
                                </ul>
                                <p class="small-text hint-text">BMcoin bonus would be awarded per every subscription
                                    purchase. </p>
                                <div class="row">
                                    <div class="col-md-7">
                                    </div>
                                    <div class="col-md-5 m-t-10 sm-m-t-10">
                                        <button type="submit" class="btn btn-primary btn-block m-t-5"
                                                (click)="subscribe(data)">Subscribe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
