<!-- MODAL STICK UP SMALL ALERT -->
<div bsModal #smStickUp="bs-modal" class="modal fade stick-up" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="smStickUp.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Confirm Action</h5>
                </div>
                <div class="modal-body">
                    <p class="no-margin">Are you sure you want to perform this action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-cons  pull-left inline" (click)="continue()">Continue</button>
                    <button type="button" id="smallAlert1" class="btn btn-default btn-cons no-margin pull-left inline" (click)="smStickUp.hide(); modalSessionClear()">Cancel</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP SMALL ALERT -->

<!-- CREATE BANK -->
<!-- Modal -->
<div bsModal #mdCreateBank="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="mdCreateBank.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Create <span class="semi-bold">Banking Information</span></h5>
                    <p class="p-b-10">We need your information in order to process your withdrawal</p>
                </div>
                <div class="modal-body">
                    <form role="form" #createBankForm="ngForm" (ngSubmit)="CreateBank(createBankForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                        <label>Account Name</label>
                                        <input type="text" class="form-control" id="accountName" name="accountName" [(ngModel)]="accountName"  #createaccountName="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>Bank Name</label>
                                        <pg-select style="width: 100%;" id="bankName" name="bankName" [(ngModel)]="bankName" [PlaceHolder]="'Select Option'" required #createbankName="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of options"
                                                    [Label]="option.name"
                                                    [Value]="option.code">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Account Number</label>
                                        <input type="text" class="form-control"  id="accountNumber" name="accountNumber" [(ngModel)]="accountNumber"  #createaccountNumber="ngModel" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="createBankForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="CreateBank(createBankForm)">Save Bank</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- CREATE BANK  -->

<!-- ORDER CARD -->
<!-- Modal -->
<div bsModal #mdOrderCard="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="mdOrderCard.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Order <span class="semi-bold">your Mastercard</span></h5>
                    <p class="p-b-10">We need some information to process your order</p>
                </div>
                <div class="modal-body">
                    <form role="form" #orderCardForm="ngForm" (ngSubmit)="OrderCard(orderCardForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label>Delivery Address</label>
                                        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="orderAddress" #orderAddress1="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>Select Payment Method</label>
                                        <pg-select style="width: 100%;" id="orderMethod" name="orderMethod" [(ngModel)]="orderMethod" #orderMethod1="ngModel" [PlaceHolder]="'Select Option'" required  AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of paymentMethod"
                                                    [Label]="option.label"
                                                    [Value]="option.value">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="orderCardForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="OrderCard(orderCardForm)">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- ORDER CARD  -->

<!-- WITHDRAWAL -->
<!-- Modal -->
<div bsModal #mdWithdrawal="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="mdWithdrawal.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Initiate <span class="semi-bold">Withdrawal</span></h5>
                    <p class="p-b-10">We need your information in order to process your withdrawal</p>
                </div>
                <div class="modal-body">
                    <form role="form" #WithdrawalForm="ngForm" (ngSubmit)="Withdraw(WithdrawalForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Amount</label>
                                        <input type="text" class="form-control"  id="Wamount" name="Wamount" [(ngModel)]="Wamount"  #withdrawalAmount="ngModel" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>Select Withdrawal Type</label>
                                        <pg-select style="width: 100%;" id="WType" name="WTypeWType" [(ngModel)]="WType" [PlaceHolder]="'Select Option'" required #withdrawalType="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of methodType"
                                                    [Label]="option.label"
                                                    [Value]="option.value">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>Select Bank</label>
                                        <pg-select style="width: 100%;" id="WbankName" [disabled]="WType === 6" name="WbankName" [(ngModel)]="WbankName" [PlaceHolder]="'Select Option'" required #withdrawalbankName="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of myBanks"
                                                    [Label]="option.bankName"
                                                    [Value]="option.id">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Enter Password</label>
                                        <input type="password" class="form-control"  id="Wpassword" name="Wpassword" [(ngModel)]="Wpassword"  #withdrawalPassword="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="WType === 6">
                                <div class="col-md-4">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>State</label>
                                        <pg-select style="width: 100%;" id="setState" name="setState" (ngModelChange)="onGetLg(setState2.value)" [(ngModel)]="setState" [PlaceHolder]="'Select Option'" required #setState2="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of states"
                                                    [Label]="option.name"
                                                    [Value]="option.id">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>LG</label>
                                        <pg-select style="width: 100%;" id="setLg" name="setLg" (ngModelChange)="onGetStokist(setLg2.value)"  [(ngModel)]="setLg" [PlaceHolder]="'Select Option'" required #setLg2="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of lg"
                                                    [Label]="option.name"
                                                    [Value]="option.id">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label>Select Stokist</label>
                                        <pg-select style="width: 100%;" id="setStokist" name="setStokist" [(ngModel)]="setStokist" [PlaceHolder]="'Select Option'" required #setStokist2="ngModel" AllowClear ShowSearch>
                                            <pg-option
                                                    *ngFor="let option of stokist"
                                                    [Label]="option.name"
                                                    [Value]="option.id">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="WithdrawalForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="Withdraw(WithdrawalForm)">Withdraw</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- WITHDRAWAL  -->

<!-- TRANSFER -->
<!-- Modal -->
<div bsModal #mdTransfer="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="mdTransfer.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Initiate <span class="semi-bold">Transfer</span></h5>
                    <p class="p-b-10">Enter needed information in order to process your Transfer</p>
                </div>
                <div class="modal-body">
                    <form role="form" #TransferForm="ngForm" (ngSubmit)="Transfer(TransferForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" id="Tamount" name="Tamount" [(ngModel)]="Tamount"  #transferAmount="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Beneficiary's ID</label>
                                        <input type="text" class="form-control" id="Tbene" name="Tbene" [(ngModel)]="Tbene"  #transferBene="ngModel" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Enter Password</label>
                                        <input type="text" class="form-control"  id="Tpassword" name="Tpassword" [(ngModel)]="Tpassword"  #transferPassword="ngModel" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="TransferForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="Transfer(TransferForm)">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- TRANSFER  -->

<!-- SUBSCRIBE PAYMENT METHOD -->
<div bsModal #subscribeMethod="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="subscribeMethod.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Select Payment Method</h5>
                </div>
                <div class="modal-body">
                    <p class="no-margin">Select your preferred payment method to purchase this subscription.</p><br>
                    <div class="radio radio-success" name="selectedPayment">
                        <input type="radio" value="2" name="method" id="card" [(ngModel)]="selectedPayment" #selPayment="ngModel">
                        <label for="card">Card</label>
                        <input type="radio" value="3" name="method" id="transfers" [(ngModel)]="selectedPayment" #selPayment="ngModel">
                        <label for="transfers">Transfer</label>
                        <input type="radio" value="1" name="method" id="wallet" [(ngModel)]="selectedPayment" #selPayment="ngModel">
                        <label for="wallet">Wallet</label>
                        <input type="radio" value="4" name="method" id="btc" [(ngModel)]="selectedPayment" #selPayment="ngModel">
                        <label for="btc">BTC</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!selectedPayment" class="btn btn-primary btn-cons  pull-left inline" (click)="continuePayment(this.selectedPayment)">Proceed</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- SUBSCRIBE PAYMENT METHOD -->

<!-- BTC PAYMENT METHOD -->
<div bsModal #btcPayment="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="btcPayment.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Make Payment</h5>
                </div>
                    <div class="modal-body" style="display: block;">
                        <!-- <form ngNoForm action="https://www.coinpayments.net/index.php" id="btcpay" method="post">
                            <input type="hidden" name="cmd" value="_pay">
                            <input type="hidden" name="reset" value="1">
                            <input type="hidden" name="merchant" value="45734222867443b67e228a2b64e35ba1">
                            <input type="hidden" name="item_name" [value]=packageName>
                            <input type="hidden" name="item_number" [value]=paymentID>
                            <input type="hidden" name="invoice" [value]=paymentID>
                            <input type="hidden" name="currency" value="USD">
                            <input type="hidden" name="amountf" [value]=amountf>
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="allow_quantity" value="0">
                            <input type="hidden" name="want_shipping" value="0">
                            <input type="hidden" name="allow_extra" value="1">
                            <input type="image" src="https://www.coinpayments.net/images/pub/buynow-wide-blue.png" alt="Buy Now with CoinPayments.net">
                        </form> -->
                        <div class="btcForm" #btcForm></div>
                        
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- BTC PAYMENT METHOD -->

<!-- ORDER CARD -->
<!-- Modal -->
<div bsModal #verifyCard="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="verifyCard.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Verify <span class="semi-bold">your Mastercard</span></h5>
                    <p class="p-b-10">We need some information to Verify your Card</p>
                </div>
                <div class="modal-body">
                    <form role="form" #verifyCardForm="ngForm" (ngSubmit)="VerifyCard(verifyCardForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label>Pan Number(15 digits on card)</label>
                                        <input type="text" class="form-control" id="pan" name="pan" [(ngModel)]="pan" #pan1="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label>OTP(sent to registered mail)</label>
                                        <input type="text" class="form-control" id="otp" name="otp" [(ngModel)]="otp" #otp1="ngModel" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="verifyCardForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="VerifyCard(verifyCardForm)">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- ORDER CARD  -->

<!-- WALLET TRANSFER -->
<div bsModal #walletTransfer="bs-modal" class="modal fade fill-in" tabindex="-1" role="dialog" aria-hidden="false"  [config]="{backdrop: 'static',  keyboard: false}">
<!--    <button type="button" class="close" (click)="walletTransfer.hide()" aria-hidden="true">-->
<!--        <i class="pg pg-close"></i>-->
<!--    </button>-->
    <div class="modal-dialog modal-lg">
<!--        <div class="modal-content-wrapper">-->
        <div class="modal-content">
            <div class="modal-header" style="background: white !important;">
                <h5 class="text-center p-b-5"><span class="semi-bold">Make a</span> Transfer or Deposit</h5>
            </div>
            <div class="modal-body" style="background: white !important;">
                <form role="form">
                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default required">
                                    <label>Account Name</label>
                                    <input type="text" class="form-control" readonly id="accountNameT" name="accountNameT" [(ngModel)]="accountNameT"  #transferAmount1="ngModel" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-default required">
                                    <label>Bank Name</label>
                                    <input type="text" class="form-control" readonly id="bankNameT" name="bankNameT" [(ngModel)]="bankNameT"  #bankNameT1="ngModel" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-default required">
                                    <label>Account Number</label>
                                    <input type="text" class="form-control" readonly  id="accountNumberT" name="accountNumberT" [(ngModel)]="accountNumberT"  #accountNumberT1="ngModel" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default required">
                                    <label>Payment ID</label>
                                    <input type="text" class="form-control" readonly id="paymentIDT" name="paymentIDT" [(ngModel)]="paymentIDT"  #paymentIDT1="ngModel" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-8">
                        <div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">AMOUNT: </p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">{{currencyT}} {{amountT | number: 0}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button type="button" class="btn btn-primary btn-block m-t-5" (click)="gotToLog()">Upload Proof</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: white !important;">
            </div>
        </div>
<!--        </div>-->
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- WALLET TRANSFER -->

<!-- CLAIM CODE -->
<div bsModal #claimCode="bs-modal" class="modal fade fill-in" tabindex="-1" role="dialog" aria-hidden="false"  [config]="{backdrop: 'static',  keyboard: false}">
        <button type="button" class="close" (click)="claimCode.hide()" aria-hidden="true">
            <i class="pg pg-close"></i>
        </button>
    <div class="modal-dialog modal-lg">
        <!--        <div class="modal-content-wrapper">-->
        <div class="modal-content">
            <div class="modal-header" style="background: white !important;">
                <h5 class="text-center p-b-5"><span class="semi-bold">Redeem</span> with your Claim Code</h5>
            </div>
            <div class="modal-body" style="background: white !important;">
                <div class="row text-center">
                    <div class="p-t-20 clearfix p-l-10 p-r-10">
                        <div class="pull-left">
                            <p class="bold font-montserrat text-uppercase">{{code}} </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button type="button" class="btn btn-primary btn-block m-t-5" (click)="claimCode.hide()">Okay</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: white !important;">
            </div>
        </div>
        <!--        </div>-->
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- CLAIM CODE -->

<!-- COMMITMENT PAYMENT METHOD -->
<div bsModal #commitmentMethod="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="commitmentMethod.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Select Payment Method</h5>
                </div>
                <div class="modal-body">
                    <p class="no-margin">Select your preferred payment method to purchase this subscription.</p><br>
                    <div class="radio radio-success" name="selectedPayment2">
                        <input type="radio" value="2" name="method1" id="card1" [(ngModel)]="selectedPayment2" #selPayment2="ngModel">
                        <label for="card1">Card</label>
                        <input type="radio" value="3" name="method1" id="transfers1" [(ngModel)]="selectedPayment2" #selPayment2="ngModel">
                        <label for="transfers1">Transfer</label>
                        <input type="radio" value="1" name="method1" id="wallet1" [(ngModel)]="selectedPayment2" #selPayment2="ngModel">
                        <label for="wallet1">Wallet</label>
                        <input type="radio" value="4" name="method1" id="btc1" [(ngModel)]="selectedPayment2" #selPaymen2t="ngModel">
                        <label for="btc1">BTC</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!selectedPayment2" class="btn btn-primary btn-cons  pull-left inline" (click)="commitment(this.selectedPayment2)">Proceed</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- COMMITMENT PAYMENT METHOD -->

<!-- CARD LIMIT -->
<!-- Modal -->
<div bsModal #verifyCardLimit="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="verifyCardLimit.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5>Increase Limit on <span class="semi-bold">your Mastercard</span></h5>
                    <p class="p-b-10">We need some information to Increase your Limit</p>
                </div>
                <div class="modal-body">
                    <form role="form" #CardLimitForm="ngForm" (ngSubmit)="CardLimit(CardLimitForm)">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label>BVN</label>
                                        <input type="text" class="form-control" id="BVN" name="BVN" [(ngModel)]="BVN" #BVN1="ngModel" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button type="submit" [disabled]="CardLimitForm.invalid" class="btn btn-primary btn-block m-t-5"  (click)="CardLimit(CardLimitForm)">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- CARD LIMIT -->


<button id="smallAlert" hidden (click)="smStickUp.show()"></button>
<button id="createBank" hidden (click)="mdCreateBank.show()"></button>
<button id="orderCard" hidden (click)="mdOrderCard.show()"></button>
<button id="withdraw" hidden (click)="mdWithdrawal.show()"></button>
<button id="transfer" hidden (click)="mdTransfer.show()"></button>
<button id="subscribeMethod" hidden (click)="subscribeMethod.show()"></button>
<button id="btcPayment" hidden (click)="btcPayment.show()"></button>
<button id="verifyCard" hidden (click)="verifyCard.show()"></button>
<button id="verifyCard1" hidden (click)="verifyCard.hide()"></button>
<button id="verifyCardLimit" hidden (click)="verifyCardLimit.show()"></button>
<button id="verifyCardLimit1" hidden (click)="verifyCardLimit.hide()"></button>
<button id="subscribeMethod1" hidden (click)="subscribeMethod.hide()"></button>
<button id="createBank1" hidden (click)="mdCreateBank.hide()"></button>
<button id="orderCard1" hidden (click)="mdOrderCard.hide()"></button>
<button id="withdraw1" hidden (click)="mdWithdrawal.hide()"></button>
<button id="transfer1" hidden (click)="mdTransfer.hide()"></button>
<button id="walletTransfer" hidden (click)="walletTransfer.show()"></button>
<button id="walletTransfer1" hidden (click)="walletTransfer.hide()"></button>
<button id="claimCode" hidden (click)="claimCode.show()"></button>
<button id="claimCode1" hidden (click)="claimCode.hide()"></button>
<button id="commitmentMethod" hidden (click)="commitmentMethod.show()"></button>
<button id="commitmentMethod1" hidden (click)="commitmentMethod.hide()"></button>






