<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">

          <img href="https://gei.qtradeai.com/" src="assets/img/logo - combined.png" alt="logo" pgRetina src1x="assets/img/logo - combined.png" src2x="assets/img/logo - combined.png" width="350" height="70">
          <h3>Create a QtradeAI account.</h3>
          <p>
            GEI/QTRADEAI is an Empowerment, Traning and MasterNode Distribution platform of BeepPay System & Technology.
          </p>
          <form class="p-t-15" role="form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="row">
              <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="userName.invalid && (userName.dirty || userName.touched)">
                  <label>UserName</label>
                  <input type="text" placeholder="John" class="form-control" id="username" name="username" [(ngModel)]="txtusername"  #userName="ngModel" required >
                </div>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" >
                    <label  *ngIf="userName.errors.required"  class="error" >This field is required.</label>
                </div>
              </div>
              <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="password.invalid && (password.dirty || password.touched)">
                  <label>Password</label>
                  <input type="password"  placeholder="Minimum of 4 Characters" class="form-control" id="password" name="password" [(ngModel)]="txtpassword"  #password="ngModel" required>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" >
                    <label  *ngIf="password.errors.required" class="error" >This field is required.</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="fName.invalid && (fName.dirty || fName.touched)">
                  <label>Full Name</label>
                  <input type="text" placeholder="john doe (this can be changed later)" class="form-control" id="fullname" name="fullname" [(ngModel)]="txtfname"  #fName="ngModel" required>
                </div>
                <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" >
                    <label  *ngIf="fName.errors.required" class="error" >This field is required.</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="phone.invalid && (phone.dirty || phone.touched)">
                  <label>Phone No</label>
                  <input type="text"  placeholder="e.g 080-0000-0000-000" class="form-control" id="phone" name="phone" [(ngModel)]="txtphone"  #phone="ngModel" required>
                </div>
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" >
                    <label  *ngIf="phone.errors.required" class="error" >This field is required.</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="email.invalid && (email.dirty || email.touched)">
                  <label>Email</label>
                  <input type="email" placeholder="We will send loging details to you" class="form-control" id="email" name="email" [(ngModel)]="txtemail"  #email="ngModel" required>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" >
                    <label  *ngIf="email.errors.required" class="error" >This field is required.</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default">
                  <label>Referral</label>
                  <input type="text" placeholder="bmcoin" class="form-control" id="parent" [value]="parent"  name="parent" [(ngModel)]="parent"  #parent1="ngModel" required>
                </div>
              </div>
            </div>
            <div class="row m-t-10">
              <div class="col-lg-7">
                <div class="checkbox " pgFormGroupDefault [class.has-error]="check1.invalid && (check1.dirty || check1.touched)">
                  <input type="checkbox" value="1" id="checkbox1" class="form-control" [(ngModel)]="check" #check1="ngModel" name="check" required="">
                  <label for="checkbox1">I agree to the <a href="https://gei.qtradeai.com/terms/Terms%20of%20Use%20-%20GEI%20(Beep).pdf" class="text-info"> Terms</a> and <a href="https://gei.qtradeai.com/terms/Terms%20of%20Use%20-%20GEI%20(Beep).pdf" class="text-info">Privacy</a>.</label>
                </div>
                <div *ngIf="check1.invalid && (check1.dirty || check1.touched)" >
                  <label  *ngIf="check1.errors.required" class="error" >Please confirm you agree with our terms and conditions.</label>
                </div>
              </div>
              <div class="col-lg-5 text-right">
                <a href="javascript:void(0)" routerLink="/auth/session/login" class="text-info">Go back to login section</a>
              </div>
            </div>
            <button class="btn btn-primary btn-cons m-t-10" type="submit" [disabled]="registerForm.invalid">Create a new account</button>
          </form>

    </div>
  </div>
  <div class=" full-width">
    <div class="register-container m-b-10 clearfix">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up row" style="margin-left: 0 !important;">
        <div class="col-md-12 no-padding d-flex align-items-center">
          <img src="assets/img/icon.png" alt="" class="" pgRetina src1x="assets/img/icon.png" src2x="assets/img/icon.png" width="40" height="40">
        </div>
        <div class="col-md-12 no-padding d-flex align-items-center">
          <p class="hinted-text small inline sm-p-t-10">GEI/QTRADEAI is an Empowerment, Traning and MasterNode Distribution platform of BeepPay System & Technology (BeepMagnet Group)c 2017-2020</p>
        </div>
      </div>
    </div>
  </div>
