
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" [class.show]="drawer" >
        <ng-template [ngTemplateOutlet]="sideBarOverlay"></ng-template>
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <ng-template [ngTemplateOutlet]="sideBarHeader"></ng-template>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ng-template [ngTemplateOutlet]="menuItems"></ng-template>
        <!-- BEGIN SIDEBAR MENU ITEMS-->

          <!-- Bottom points-->
          <div class="sidebar-footer">
              <ul class="menu-items p-t-25 ps">
              <li class="ng-tns-c4-7 ng-star-inserted"><a class="ng-tns-c4-7 ng-star-inserted" (click)="logout()"><span class="title" style="color: red">Logout</span></a>
                <pg-menu-icon class="icon-thumbnail ng-star-inserted" IconType="fi" IconName="power"  style="color: red"></pg-menu-icon>
              </li>
              </ul>
<!--              <a  class="link" data-toggle="tooltip" title="Profile" style="color: red"><i class="pg pg-power"></i> Logout</a>-->
          </div>
          <!-- End Bottom points-->
        <div class="clearfix">
      </div>
      <!-- END SIDEBAR MENU -->
      </div>
