<!--<pgcard TimeOut="3000" AdditionalClasses="card no-border widget-loader-bar m-b-10"-->
<!-- Maximize="false" Toggle="false" Close="false" Controls="false"-->
<!-- BodyClass="no-padding" HeaderClass="top-left top-right">-->
<!--		<ng-template #CardTitle>-->
<!--				<span class="font-montserrat fs-11 all-caps">-->
<!--					Wallet-->
<!--					<i class="fa fa-chevron-right"></i>-->
<!--				</span>-->
<!--			</ng-template>-->
<!--	<div class="container-xs-height full-height">-->
<!--			<div class="row-xs-height">-->
<!--					<div class="col-xs-height col-top">-->
<!--					  <div class="p-l-20 p-t-50 p-b-40 p-r-20">-->
<!--						<h3 class="no-margin p-b-5">423</h3>-->
<!--						<span class="small hint-text pull-left">22% higher</span>-->
<!--						<span class="pull-right small text-danger">N23,000</span>-->
<!--					  </div>-->
<!--					</div>-->
<!--				  </div>-->
<!--				  <div class="row-xs-height">-->
<!--					<div class="col-xs-height col-bottom">-->
<!--					  <div class="progress progress-small m-b-0">-->
<!--						&lt;!&ndash; START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) &ndash;&gt;-->
<!--						<div class="progress-bar progress-bar-danger" style="width:15%"></div>-->
<!--						&lt;!&ndash; END BOOTSTRAP PROGRESS &ndash;&gt;-->
<!--					  </div>-->
<!--					</div>-->
<!--				  </div>-->
<!--			</div>-->
<!--</pgcard>-->
<pgcard TimeOut="3000" AdditionalClasses="card no-border widget-loader-bar m-b-10"
 Maximize="false" Toggle="false" Close="false" Controls="false"
 BodyClass="no-padding" HeaderClass="top-left top-right">
		<ng-template #CardTitle>
				<span class="font-montserrat fs-11 all-caps">
					GEI Requirements
					<i class="fa fa-chevron-right"></i>
				</span>
			</ng-template>
	<div class="container-xs-height full-height">
			<div class="row-xs-height">
					<div class="col-xs-height col-top">
					  <div class="p-l-20 p-t-50 p-b-40 p-r-20">
						  <h6 *ngIf="_order?.gei === '1'">{{dets()}}</h6>
						  <h5 *ngIf="_order?.gei === '1'" class="small hint-text no-margin text-success" style="cursor: pointer">1. Trust Commitment Fee <img alt="" src="{{cSat1()}}"  width="18px"></h5>
						  <h5 *ngIf="_order?.gei === '1'" class="small hint-text no-margin text-success" style="cursor: pointer">2. 5 Direct Referrals of  same Membership or Above<img alt="" src="{{completed1()}}"  width="18px"></h5>
						  <br>
						  <h6 *ngIf="_order?.gei === '1'" class="small hint-text no-margin" style="cursor: pointer; font-size: 10px"><span class="font-weight-bold">Note:</span> If a member fails to meet any of the 2 condition a 20% Deduction applies to GEI Empowerment wallet</h6>
						  <h3 class="m-b-0" *ngIf="!_order">
							  No current commitment
						  </h3>
					  </div>
					</div>
				  </div>
				  <div class="row-xs-height">
					<div class="col-xs-height col-bottom">
					  <div class="progress progress-small m-b-0">
						<!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
						<div class="progress-bar progress-bar-danger" style="width:0%"></div>
						<!-- END BOOTSTRAP PROGRESS -->
					  </div>
					</div>
				  </div>
			</div>
</pgcard>
