<!-- START APP -->
<!-- END SECONDARY SIDEBAR MENU -->
<div class="full-height">
    <div class="split-view">
        <!-- START SPLIT LIST VIEW -->
        <div class="split-list" [class.slideLeft]="isEmailSelected">
            <a class="list-refresh" href="javascript:void(0)"><i class="fa fa-refresh" (click)="reload()"></i></a>
            <pg-list-view-container  class="scrollable full-height">
                <pg-list-item *ngFor="let item of emailList">
                    <ng-template #ItemHeading>
                        <div style="background: white"></div>
                    </ng-template>
                    <li class="item padding-15"  (click)="onSelect(item)"  [class.active]="item === selectedEmail">
<!--                        <div class="thumbnail-wrapper d32 circular"><img alt="" height="40" src="{{item.dp}}" width="40"></div>-->
                        <div class="checkbox no-margin p-l-10">
                            <input id="emailcheckbox-0-{{item.id}}" type="checkbox" value="1"> <label for="emailcheckbox-0-{{item.id}}"></label>
                        </div>
                        <div class="inline m-l-15">
                            <p class="recipients no-margin hint-text small">{{item.creator}}</p>
                            <p class="subject no-margin">{{item.title}}</p>
                            <p class="body no-margin" innerHTML="{{item.details}}"></p>
                        </div>
                        <div class="datetime">
                            {{item.dateCreated*1000 | date:'fullDate'}}
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </pg-list-item>
            </pg-list-view-container>

        </div>
        <!-- END SPLIT LIST VIEW -->
        <!-- START SPLIT DETAILS -->
        <div class="split-details">
            <ng-template #noResultBlock>
                <div class="no-result" >
                    <h1>No News has been selected</h1>
                </div>
            </ng-template>
            <div *ngIf="selectedEmail; else noResultBlock" class="email-content-wrapper">
                <div class="social-wrapper">
                    <div class="social " data-pages="social">
                        <!-- START JUMBOTRON -->
                        <div class="jumbotron" data-social="cover">
                            <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(assets/img/news.jpg)'}">
                            </div>
                            <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
                                <div class="inner">
                                    <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
                                        <h5 class="text-white no-margin">{{selectedEmail.dateCreated*1000 | date:'fullDate'}}</h5>
                                        <h1 class="text-white no-margin">
                                            <span class="semi-bold">{{selectedEmail.title}}</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="email-content">
                    <div class="clearfix"></div>
                    <div class="email-content-body m-t-5" innerHTML="{{selectedEmail.details}}">
                    </div>
                </div>

                <!-- START COMPOSE BUTTON FOR TABS -->
                <div class="compose-wrapper d-md-none">
                    <a class="compose-email text-info pull-right m-r-10 m-t-10 fs-16" (click)="onBack()">
                        News <i class="fa fa-backward"></i>
                    </a>
                </div>
                <!-- END COMPOSE BUTTON -->
            </div>
        </div>
        <!-- END SPLIT DETAILS -->
    </div>
</div>
<!-- END APP -->
