.giveSub {
  font-size: 30.2px !important;
  line-height: 30px !important;
}

@media (max-width: 979px) {
  .split-view .split-details .email-content-wrapper {
    height: 100%;
  }
}

.list-view-group-header{
  background: white !important;
}

//.compose-wrapper {
//  display: none !important;
//}
