<div class="error-page">
<div class="d-flex justify-content-center full-height full-width align-items-center">
  <div class="error-container text-center">
    <h1 class="error-number">{{error}}</h1>
    <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
    <p class="p-b-10">This page you are looking for does not exsist <a href="javascript:void(0)" routerLink="/app">Go Back</a>
    </p>
  </div>
</div>

<div class="pull-bottom sm-pull-bottom full-width d-flex align-items-center justify-content-center">
<div class="error-container">
  <div class="error-container-innner">
    <div class="p-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up row no-margin">
      <div class="col-md-12 no-padding d-flex align-items-center justify-content-center">
        <p class="small no-margin flex-1">Gei/QtradeAi is an empowerment, training and master node distribution of beeps system and technology.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
