<div class="jumbotron" style="background-color: white">
    <pg-container extraHorizontalClass="p-l-0 p-r-0">
        <div class="inner" pg-parallax>
            <!-- START BREADCRUMB -->
            <pg-breadcrumb>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DASHBOARD</a></li>
                    <li class="breadcrumb-item active">PROFILE</li>
                </ol>
            </pg-breadcrumb>
        </div>
    </pg-container>
</div>
<!-- END JUMBOTRON -->


<pg-container>
    <div class="row">
        <div class="col-lg-6">
            <!-- START card -->
            <div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">
                        KYC
                    </div>
                </div>
                <div class="card-body">
                    <h5>
                        Update KYC
                    </h5>
                    <form role="form" #kycForm="ngForm" (ngSubmit)="submitKyc(kycForm)">
                        <div class="form-group form-group-default" pgFormGroupDefault>
                            <label>Address ID</label>
                            <input type="file" accept="image/*" class="form-control" name="addressID"  [(ngModel)]="addressID" #addressID1="ngModel" (change)="addressKyc($event)" required>
                        </div>
                        <div class="form-group form-group-default" pgFormGroupDefault>
                            <label>Country ID</label>
                            <input type="file" accept="image/*" class="form-control" name="countryID"   [(ngModel)]="countryID" #countryID1="ngModel" (change)="countryKyc($event)" required>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 m-t-10 sm-m-t-10">
                                <button type="submit" [disabled]="kycForm.invalid"
                                        class="btn btn-primary btn-block m-t-5">Save KYC
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END card -->
            <!-- START card -->
            <div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">
                        Password
                    </div>
                </div>
                <div class="card-body">
                    <h5>
                        Change Password
                    </h5>
                    <form class="" role="form" #passwordForm="ngForm" (ngSubmit)="savePassword(passwordForm)">
                        <div class="form-group form-group-default required "
                             [class.has-error]="oldPassword1.invalid && (oldPassword1.dirty || oldPassword1.touched)"
                             pgFormGroupDefault>
                            <label>Old Password</label>
                            <input type="text" class="form-control" name="oldPassword" [(ngModel)]="oldPassword"
                                   #oldPassword1="ngModel" required>
                        </div>
                        <div *ngIf="oldPassword1.invalid && (oldPassword1.dirty || oldPassword1.touched)">
                            <label *ngIf="oldPassword1.errors.required" class="error">This field is required.</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-default required"
                                     [class.has-error]="Password1.invalid && (Password1.dirty || Password1.touched)"
                                     pgFormGroupDefault>
                                    <label>New Password</label>
                                    <input type="text" class="form-control" name="password" [(ngModel)]="Password"
                                           #Password1="ngModel" required>
                                </div>
                                <div *ngIf="Password1.invalid && (Password1.dirty || Password1.touched)">
                                    <label *ngIf="Password1.errors.required" class="error">This field is
                                        required.</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-default required"
                                     [class.has-error]="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)"
                                     pgFormGroupDefault>
                                    <label>Confirm Password</label>
                                    <input type="text" class="form-control" name="newPassword" [(ngModel)]="newPassword"
                                           #newPassword1="ngModel" required>
                                </div>
                                <div *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)">
                                    <label *ngIf="newPassword1.errors.required" class="error">This field is
                                        required.</label>
                                </div>
                                <div *ngIf="newPassword1.valid && (newPassword1.dirty || newPassword1.touched)">
                                    <label *ngIf="Password !== newPassword" class="error">Passwords do not
                                        match.</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 m-t-10 sm-m-t-10">
                                <button type="submit" [disabled]="passwordForm.invalid || Password !== newPassword"
                                        class="btn btn-primary btn-block m-t-5">Change Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END card -->
        </div>
        <div class="col-lg-6">
            <!-- START card -->
            <div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">
                        Profile
                    </div>
                </div>
                <div class="card-body">
                    <h5>
                        Personal Information
                    </h5>
                    <div class="upload upload-select upload-select-picture-card ng-star-inserted">
                        <div class="ant-upload upload upp" style="background-image: url({{picUrl + userData.profile}})" tabindex="0" role="button" (click)="library('profile')">
                            <input type="file" id="profile" hidden accept="image/*" #pop="ngModel" ngModel name="pop"  (change)="profilePic($event)">
                            <div class="pic-placeholder ng-star-inserted">
                                <i class="pg pg-download p-b-5"></i>
                                <div class="fs-12">Upload</div>
                            </div>
                        </div>
                    </div>
                    <form role="form" #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
                        <div class="form-group">
                            <label>Full name</label>
                            <span class="help"> e.g. "john doe"</span>
                            <input type="text" [(ngModel)]="userData.fullname" name="fullname" class="form-control"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <span class="help"> e.g. "01 234 5678"</span>
                            <input type="text" class="form-control" [(ngModel)]="userData.phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <span class="help"> e.g. "some@example.com"</span>
                            <input type="email" class="form-control" [(ngModel)]="userData.email" name="email"
                                   placeholder="ex: some@example.com">
                        </div>
                        <div class="form-group">
                            <label>MT4 Account Number</label>
                            <span class="help"> e.g. "00123456"</span>
                            <input type="text" class="form-control" [(ngModel)]="userData.mt4" name="mt4">
                        </div>
                        <div class="form-group">
                            <label>MT4 Password</label>
                            <span class="help"> e.g. "******"</span>
                            <input type="password" class="form-control" [(ngModel)]="userData.mt4Pass" name="mt4pass">
                        </div>
                        <div class="form-group">
                            <label>Investor's Details</label>
                            <span class="help"> e.g. "Investor's details..."</span>
                            <textarea class="form-control" id="investor" [(ngModel)]="userData.investorsDetails"
                                      name="investorsDetails"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" id="name" [(ngModel)]="userData.address"
                                      name="address"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 m-t-10 sm-m-t-10">
                                <button type="submit" class="btn btn-primary btn-block m-t-5">Save Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END card -->
        </div>
    </div>
</pg-container>
