<!-- START JUMBOTRON -->
<div data-pages="parallax">
  <div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ol class="breadcrumb sm-p-b-5">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10 sm-gutter">
  <!-- START ROW -->
  <div class="row">
    <div class="col-lg-3 col-sm-6  d-flex flex-column">
      <!-- START WIDGET -->
      <!-- START ITEM -->
      <pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="News Update" TitleClass="text-success"
        Body="Title: {{newsData?.title}}" Source="{{newsData?.creator}}" Timestamp="{{newsData?.dateCreated}}">
      </pgcardsocial>
      <!-- END ITEM -->
      <!-- END WIDGET -->
      <!-- START WIDGET -->
      <car-bonus [Amount]="details[5]?.getBalance[0]?.GEICarWallet"></car-bonus>
      <!-- END WIDGET -->
      <!-- START WIDGET -->
      <quick-stats-widget [Order]="ord[0]" ></quick-stats-widget>
      <!-- END WIDGET -->
    </div>
    <div class="col-lg-3 col-sm-6  d-flex flex-column">
      <!-- START ITEM -->

      <pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="Trust Commitment" TitleClass="text-success">
        <ng-template #CustomBody>
<!--          <h5 class='hint-text no-margin'>Payment</h5>-->
          <h5 class="font-montserrat fs-11 all-caps"  *ngIf="_gei">{{_gei.packageName}}</h5>
          <h5 style="font-size: 14px" *ngIf="_gei">{{currency}} {{_gei.amount | number: 0}}</h5>
          <h5  *ngIf="_gei" class="small hint-text no-margin text-success" style="cursor: pointer" (click)="showDialog(_gei, 'commitment')">click here to pay your commitment</h5>
          <h6 style="font-size: 14px" *ngIf="_gei">
              GEI Empowerment Due Date: <span class="font-weight-bold f-s-15 text-success">{{tdate}}</span>
          </h6>
            <h6 style="font-size: 14px" *ngIf="_gei">Trust Commitment Due Date: <span class="font-weight-bold f-s-15 text-success">{{date}}</span></h6>
          <h6 style="font-size: 15px" class="m-b-0" *ngIf="!_gei">
            No current GEI commitment
          </h6>
        </ng-template>
      </pgcardsocial>
      <!-- END ITEM -->
      <!-- @TODO : USE HTML FOR NOW  - START ITEM -->
      <div class="card social-card share share-other full-width m-b-10 d-flex flex-1 no-border sm-vh-75" >
          <div class="circle">
          </div>
          <div class="card-content flex-1" data-pages-bg-image [ngStyle]="{'background-image':'url(assets/img/dashboard/social_new.jpg)'}">
          </div>
          <div class="card-description">
            <p>{{user.email}}</p>
          </div>
          <div class="card-footer clearfix">
            <div class="time">{{user.phone}}</div>
            <ul class="reactions">
              <li><a>{{user.dateJoined*1000 | date:"MMM dd"}}</a>
              </li>
            </ul>
          </div>
        <div class="card-description" style="text-align: center">
          <p>{{this.referralCode + user.username}}</p>
        </div>
          <div class="card-header clearfix" (click)="copy(user.username)">
            <div class="user-pic">
                <img alt="Avatar" width="33" height="33" pgRetina src2x="{{this.picUrl + user.profile}}" src1x="{{this.picUrl + user.profile}}"
                src="{{this.picUrl + user.profile}}">
            </div>
            <h5>{{user.username}}</h5>
            <h6>Click to copy link to share</h6>
          </div>
      </div>
      <!-- END ITEM -->
    </div>
    <div class="col-lg-6 m-b-10 d-flex">
      <!-- START WIDGET -->
      <table-basic-widget class="full-width no-border" [BrokerPayload]="this.broker" [ReferralPayload]="this.referrals"></table-basic-widget>
      <!-- END WIDGET -->
    </div>
  </div>
  <!-- END ROW -->
</div>
<!-- END CONTAINER FLUID -->
