<div class="login-wrapper ">
	<!-- START Login Background Pic Wrapper-->
	<div class="bg-pic">
		<!-- START Background Pic-->
		<div class="img-holder"  [ngStyle]="{'background':'url(assets/img/forex.jpg)'}"></div>
		<!-- START Background Caption-->
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
			<h2 class="semi-bold text-white">
				QtradeAI in association with GEI Empowerment Initiative.</h2>

			<p class="small">
				GEI/QTRADEAI is an Empowerment, Traning and MasterNode Distribution platform of BeepPay System & Technology (BeepMagnet Group)c 2017-2020
			</p>
		</div>
		<!-- END Background Caption-->
	</div>
	<!-- END Login Background Pic Wrapper-->
	<!-- START Login Right Container-->
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img href="https://gei.qtradeai.com/" src="assets/img/logo - combined.png" alt="logo" pgRetina src1x="assets/img/logo - combined.png" src2x="assets/img/logo - combined.png"
			     width="350" height="70">

			<p class="p-t-35">Sign into your account</p>
			<!-- START Login Form -->
			<form class="p-t-15" role="form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
				<!-- START Form Control-->
				<div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label>Login</label>
					<input type="text" id="userName" name="username" [(ngModel)]="userName"  #loginUserName="ngModel" required  placeholder="User Name" class="form-control">
				</div>
				<div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)" >
					<label  *ngIf="loginUserName.errors.required" class="error" >This field is required.</label>
				</div>
				<!-- END Form Control-->
				<!-- START Form Control-->
				<div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Credentials" id="password" name="password" [(ngModel)]="password"  #loginPassword="ngModel" required>
				</div>
				<div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" >
					<label  *ngIf="loginPassword.errors.required" class="error" >This field is required.</label>
				</div>
				<!-- END Form Control-->
				<!-- START Form Control-->
				<div class="form-group form-group-default form-group-default-select2 required" [class.has-error]="loginRegion.invalid && (loginRegion.dirty || loginRegion.touched)">
					<label class="">Region</label>
					<pg-select style="width: 100%;" id="region" name="region" (OpenChange)="saveRegion(selectedOption)" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" required #loginRegion="ngModel" AllowClear ShowSearch>
						<pg-option
								*ngFor="let option of regions"
								[Label]="option.region"
								[Value]="option.region">
						</pg-option>
					</pg-select>
				</div>
				<div *ngIf="loginRegion.invalid && (loginRegion.dirty || loginRegion.touched)" >
					<label  *ngIf="loginRegion.errors.required" class="error" >This field is required.</label>
				</div>
				<!-- END Form Control-->
				<!-- START Form Control-->
				<div class="row">
					<div class="col-md-6 no-padding sm-p-l-10">
						<div class="checkbox ">
							<input type="checkbox" value="1" id="checkbox1">
							<label for="checkbox1">Keep Me Signed in</label>
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-center justify-content-end">
						<a href="javascript:void(0)" class="text-info small" routerLink="/auth/session/forgot-password">Help? Forgot Password</a>
					</div>
				</div>
				<!-- END Form Control-->
				<button class="btn btn-primary btn-cons m-t-10" type="submit" [disabled]="loginForm.invalid">Sign in</button>
			</form>
			<!--END Login Form-->
			<div class="pull-bottom sm-pull-bottom">
				<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
					<div class="col-sm-3 col-md-2 no-padding">
						<img alt="" class="m-t-5" pgRetina src1x="assets/img/icon.png"
						     src2x="assets/img/icon.png" height="40"
						     src="assets/img/icon.png" width="40">
					</div>
					<div class="col-sm-9 no-padding m-t-10">
						<p>
							<small>
								Create an account. If you don't have an account, Click this link now to register.
								<a href="javascript:void(0)" routerLink="/auth/session/register" class="text-info font-weight-bold">Register Now</a>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Login Right Container-->
</div>
