<div class="jumbotron" style="background-color: white">
    <pg-container extraHorizontalClass="p-l-0 p-r-0">
        <div class="inner" pg-parallax>
            <!-- START BREADCRUMB -->
            <pg-breadcrumb>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DASHBOARD</a></li>
                    <li class="breadcrumb-item active">REFERRALS</li>
                </ol>
            </pg-breadcrumb>
            <div class="row">
                <div class="col-xl-7 col-lg-6 ">
                    <!-- START card -->
                    <div class="full-height">
                        <div class="card-body text-center">
                            <img class="image-responsive-height demo-mw-600" src="assets/img/tab.png" alt="">
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                <div class="col-xl-5 col-lg-6 ">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <div class="card-title">Referral Activities
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Referral Logs</h3>
                            <p>Your record of all Referrals registered under you, with their information below you cann change levels by clicking on the preferred type of tab. </p>
                            <br>
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Level One</p>
                                    <p class="all-caps font-montserrat  no-margin text-success ">{{ref1.length}}</p>
                                    <br>
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Level Three</p>
                                    <p class="all-caps font-montserrat  no-margin text-warning ">{{ref3.length}}</p>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Level Two</p>
                                    <p class="all-caps font-montserrat  no-margin text-success ">{{ref2.length}}</p>
                                    <br>
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Level Four</p>
                                    <p class="all-caps font-montserrat  no-margin text-warning ">{{ref4.length}}</p>
                                    <br>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <p class="hint-text all-caps font-montserrat small no-margin ">Level Five</p>
                                    <p class="all-caps font-montserrat  no-margin text-success ">{{ref5.length}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
            </div>
        </div>
    </pg-container>
</div>
<!-- END JUMBOTRON -->

<div class="col-lg-12">
    <div class="card card-borderless">
        <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
            <pg-tab>
                <ng-template #TabHeading>
                    Level One
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Total Active Referrals: {{active1}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 1)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            #datatableComponent
                                            class='table table-hover'
                                            [rows]="ref1"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [scrollbarH]="true">

                                        <ngx-datatable-column [width]="100" name="image" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <span class="thumbnail-wrapper d32 circular inline">
                                                    <img src="{{picUrl + row.profile}}" alt="" pgRetina src1x="{{picUrl + row.profile}}" src2x="{{picUrl + row.profile}}" width="32" height="32">
                                                </span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="userID" prop="userID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="fullname" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Subscriptions" prop="totalSubscription" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Level Two
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Total Active Referrals: {{active2}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 2)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                        #datatableComponent
                                        class='table table-hover'
                                        [rows]="ref2"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [scrollbarH]="true">

                                        <ngx-datatable-column [width]="100" name="image" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <span class="thumbnail-wrapper d32 circular inline">
                                                    <img src="{{picUrl + row.profile}}" alt="" pgRetina src1x="{{picUrl + row.profile}}" src2x="{{picUrl + row.profile}}" width="32" height="32">
                                                </span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="userID" prop="userID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="fullname" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Subscriptions" prop="totalSubscription" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Level Three
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Total Active Referrals: {{active3}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 3)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                        #datatableComponent
                                        class='table table-hover'
                                        [rows]="ref3"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [scrollbarH]="true">

                                        <ngx-datatable-column [width]="100" name="image" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <span class="thumbnail-wrapper d32 circular inline">
                                                    <img src="{{picUrl + row.profile}}" alt="" pgRetina src1x="{{picUrl + row.profile}}" src2x="{{picUrl + row.profile}}" width="32" height="32">
                                                </span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="userID" prop="userID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="fullname" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Subscriptions" prop="totalSubscription" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Level Four
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Total Active Referrals: {{active4}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 4)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                        #datatableComponent
                                        class='table table-hover'
                                        [rows]="ref4"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [scrollbarH]="true">

                                        <ngx-datatable-column [width]="100" name="image" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <span class="thumbnail-wrapper d32 circular inline">
                                                    <img src="{{picUrl + row.profile}}" alt="" pgRetina src1x="{{picUrl + row.profile}}" src2x="{{picUrl + row.profile}}" width="32" height="32">
                                                </span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="userID" prop="userID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="fullname" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Subscriptions" prop="totalSubscription" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Level Five
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header ">
                                <div class="card-title">Total Active Referrals: {{active5}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event, 5)'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                        #datatableComponent
                                        class='table table-hover'
                                        [rows]="ref5"
                                        [columnMode]="columnModeSetting"
                                        [headerHeight]="43"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [limit]="5"
                                        [scrollbarH]="true">

                                        <ngx-datatable-column [width]="100" name="image" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <span class="thumbnail-wrapper d32 circular inline">
                                                    <img src="{{picUrl + row.profile}}" alt="" pgRetina src1x="{{picUrl + row.profile}}" src2x="{{picUrl + row.profile}}" width="32" height="32">
                                                </span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="userID" prop="userID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="fullname" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="phone" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="email" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Subscriptions" prop="totalSubscription" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ng-template
                                                ngx-datatable-footer-template
                                                let-rowCount="rowCount"
                                                let-pageSize="pageSize"
                                                let-selectedCount="selectedCount"
                                                let-curPage="curPage"
                                                let-offset="offset">
                                            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                                        </ng-template>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </pg-container>
            </pg-tab>
        </pg-tabset>
    </div>
</div>


