<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">

          <img href="https://gei.qtradeai.com/" src="assets/img/logo - combined.png" alt="logo" pgRetina src1x="assets/img/logo - combined.png" src2x="assets/img/logo - combined.png" width="350" height="70">
          <h3>Recover your account.</h3>
          <p>
              GEI/QTRADEAI is an Empowerment, Traning and MasterNode Distribution platform of BeepPay System & Technology.
          </p>
          <form class="p-t-15" role="form" #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)">
            <div class="row">
              <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="userName.invalid && (userName.dirty || userName.touched)">
                  <label>UserName</label>
                  <input type="text" placeholder="John" class="form-control" id="username" name="username" [(ngModel)]="username"  #userName="ngModel" required >
                </div>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" >
                    <label  *ngIf="userName.errors.required"  class="error" >This field is required.</label>
                </div>
              </div>
              <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="email1.invalid && (email1.dirty || email1.touched)">
                  <label>Email</label>
                  <input type="email"  placeholder="johndoe@email.com" class="form-control" id="email" name="email" [(ngModel)]="email"  #email1="ngModel" required>
                </div>
                <div *ngIf="email1.invalid && (email1.dirty || email1.touched)" >
                    <label  *ngIf="email1.errors.required" class="error" >This field is required.</label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-cons m-t-10" type="submit" [class.disabled]="forgotForm.invalid">Proceed</button>
              <a href="javascript:void(0)" routerLink="/auth/session/login" class="text-info text-right">  Go back to login section</a>
          </form>

    </div>
  </div>
  <div class=" full-width">
    <div class="register-container m-b-10 clearfix">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up row" style="margin-left: 0 !important;">
        <div class="col-md-12 no-padding d-flex align-items-center">
          <img src="assets/img/icon.png" alt="" class="" pgRetina src1x="assets/img/icon.png" src2x="assets/img/icon.png" width="40" height="40">
        </div>
        <div class="col-md-12 no-padding d-flex align-items-center">
          <p class="hinted-text small inline sm-p-t-10">GEI/QTRADEAI is an Empowerment, Traning and MasterNode Distribution platform of BeepPay System & Technology (BeepMagnet Group)c 2017-2020</p>
        </div>
      </div>
    </div>
  </div>
