<div class="jumbotron" style="background-color: white">
    <pg-container extraHorizontalClass="p-l-0 p-r-0">
        <div class="inner" pg-parallax>
            <!-- START BREADCRUMB -->
            <pg-breadcrumb>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DASHBOARD</a></li>
                    <li class="breadcrumb-item active">ACCOUNT</li>
                </ol>
            </pg-breadcrumb>
            <div class="row">
                <div class="col-xl-7 col-lg-6 ">
                    <!-- START card -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">GEI Product Wallet
                                    </div>
                                    <h4>{{currency}} {{details[5]?.getBalance[0]?.GEIProductWallet | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">Master Node Wallet
                                    </div>
                                    <h4>{{this.details[4]?.getSelf[0]?.masternode | number: '.2' }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">MN Daily Reward
                                    </div>
                                    <h4>{{currency}} {{this.details[5]?.getBalance[0]?.ROI | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">BMCT wallet
                                    </div>
                                    <h4>{{this.details[4]?.getSelf[0]?.BMToken | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">GEI Empowerment Wallet
                                    </div>
                                    <h4>{{currency}} {{this.details[5]?.getBalance[0]?.geiBonus | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">Cash Wallet
                                    </div>
                                    <h4>{{currency}} {{this.details[5]?.getBalance[0]?.balance | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">GEI Car Wallet
                                    </div>
                                    <h4>{{currency}} {{this.details[5]?.getBalance[0]?.GEICarWallet | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-6">
                            <div class="card card-transparent">
                                <div class="card-header ">
                                    <div class="card-title">BPD Wallet
                                    </div>
                                    <h4>{{currency}} {{this.details[5]?.getBalance[0]?.BPD | number: '.2'}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                <div class="col-xl-5 col-lg-6 ">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-body">
                            <div class="btn-group btn-group-justified row w-100">
                                <div class="btn-group col-6 p-0">
                                    <button type="button" class="btn btn-default w-100" (click)="showModal('withdraw')">
                                          <span class="p-t-5 p-b-5">
                                              <i class="fa fa-star fs-15"></i>
                                          </span>
                                          <br>
                                          <span class="fs-11 font-montserrat text-uppercase">Withdraw</span>
                                    </button>
                                </div>
                                <div class="btn-group col-6 p-0">
                                    <button type="button" class="btn btn-default w-100" (click)="showModal('transfer')">
                                        <span class="p-t-5 p-b-5">
                                            <i class="fa fa-user fs-15"></i>
                                        </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Transfer</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
            </div>
        </div>
    </pg-container>
</div>
<!-- END JUMBOTRON -->

<div class="col-lg-12">
    <div class="card card-borderless">
        <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
            <pg-tab>
                <ng-template #TabHeading>
                    My Banks
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header" style="text-align: right">
                                <button class="btn btn-default btn-cons m-b-10" type="button" (click)="showModal('createBank')"><i class="pg pg-plus_circle"></i>&nbsp;<span class="card-title">Create Bank</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            class='table table-hover'
                                            [rows]="bankRow"
                                            [columns]="bankColumns"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [selected]="selected"
                                            [selectionType]="'checkbox'"
                                            [scrollbarH]="true"
                                            (activate)="onActivate($event)"
                                            (select)='onSelect($event)'>
                                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                                <button class="btn btn-link"><i class="pg pg-trash"></i>
                                                </button>
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <div class="checkbox d-flex align-items-center">
                                                    <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                                                    <label for="checkbox_1{{rowIndex}}"></label>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column *ngIf="this.region === 'Africa'" name="Bank Name" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Account Number" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Account Name" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column *ngIf="this.region !== 'Africa'" name="Sort Code" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column *ngIf="this.region !== 'Africa'" name="Swift Code" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column *ngIf="this.region !== 'Africa'" name="Bank Address" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <!-- <ngx-datatable-column name="action" cellClass="d-flex align-items-center">
                                            <ng-template let-row="row" let-value="value" #tableAction ngx-datatable-cell-template>
                                                <button class="btn btn-danger btn-cons m-b-10" type="button"  (click)="showDialog(row, 'delBank')"><i class="pg pg-trash_line"></i>&nbsp;<span class="card-title">Delete Bank</span>
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column> -->
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Wallet Address
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header" >
                                <div class="card-title">My Wallet Address
                                </div>
                            </div>
                            <div class="card-body">
                                <form role="form" #BMCTForm="ngForm" (ngSubmit)="SaveBMCT(BMCTForm)">
                                    <div class="form-group-attached">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label>BMCT Address</label>
                                                    <input type="text" class="form-control" id="BMWalletAddress" name="BMWalletAddress" [(ngModel)]="userData.BMWalletAddress"  #address="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label>BMT Address</label>
                                                    <input type="text" class="form-control" id="BMTWalletAddress" name="BMTWalletAddress" [(ngModel)]="userData.bmt"  #BMTaddress1="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label>BTC Address</label>
                                                    <input type="text" class="form-control" id="BTCWalletAddress" name="BTCWalletAddress" [(ngModel)]="userData.btc"  #BTCaddress1="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label>BPD Address</label>
                                                    <input type="text" class="form-control" id="BPDWalletAddress" name="BPDWalletAddress" [(ngModel)]="userData.bpd"  #BPDaddress1="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2 m-t-10 sm-m-t-10">
                                            <button type="submit" [disabled]="BMCTForm.invalid" class="btn btn-primary btn-block m-t-5">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </pg-container>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    My Cards
                </ng-template>
                <pg-container>
                    <div class="row column-seperation">
                        <!-- START card -->
                        <div class="card card-transparent">
                            <div class="card-header" style="text-align: right">
                                <button class="btn btn-default btn-cons m-b-10" type="button" (click)="showModal('orderCard')"><i class="pg pg-plus_circle"></i>&nbsp;<span class="card-title">Order Card</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ngx-datatable
                                            class='table table-hover'
                                            [rows]="cardRow"
                                            [columns]="cardColumns"
                                            [columnMode]="columnModeSetting"
                                            [headerHeight]="43"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [limit]="5"
                                            [selected]="selected"
                                            [selectionType]="'checkbox'"
                                            [scrollbarH]="true"
                                            (activate)="onActivate($event)"
                                            (select)='onSelect($event)'>
                                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
                                            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                                <button class="btn btn-link"><i class="pg pg-trash"></i>
                                                </button>
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <div class="checkbox d-flex align-items-center">
                                                    <input type="checkbox" value="1" id="checkbox_13{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                                                    <label for="checkbox_1{{rowIndex}}"></label>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="ID" cellClass="d-flex align-items-center"></ngx-datatable-column>
                                        <ngx-datatable-column name="Pan" cellClass="d-flex align-items-center">
                                            <ng-template #panColumn ngx-datatable-cell-template let-value="value">
                                                <span>{{checkValidity(value)}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                                            <ng-template #statusColumn ngx-datatable-cell-template let-value="value">
                                                <span [ngClass]="setClassps(value, 'c')">{{setClassps(value, 't')}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="bvn" cellClass="d-flex align-items-center">
                                            <ng-template #bvnColumn ngx-datatable-cell-template let-value="value">
                                                <span>{{checkValidity(value)}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Card Limit" cellClass="d-flex align-items-center">
                                            <ng-template #cardLimitColumn ngx-datatable-cell-template let-value="value">
                                                <span>{{checkValidity(value) | abbreviation: 2}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Date" cellClass="d-flex align-items-center">
                                            <ng-template  #dateColumn ngx-datatable-cell-template let-value="value">
                                                {{value * 1000 | date: 'dd-MM-yyyy'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="action" cellClass="d-flex align-items-center">
                                            <ng-template let-row="row" let-value="value" #cardAction ngx-datatable-cell-template>
                                                <button *ngIf="row.status === '0'" class="btn btn-info btn-cons m-b-10" type="button"  (click)="showModal('verifyCard')"><i class="pg pg-credit_card_line"></i>&nbsp;<span class="card-title">Verify Card</span>
                                                </button>
                                                <button *ngIf="row.status === '1'" class="btn btn-success btn-cons m-b-10" type="button"  (click)="showModal('verifyCardLimit')"><i class="pg pg-credit_card_line"></i>&nbsp;<span class="card-title">Update Limit</span>
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </pg-container>
            </pg-tab>
        </pg-tabset>
    </div>
</div>
